<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- "用户信息" mybatis mapper file . generate by codebuilder -->
<mapper namespace="com.pkt.Dao.Project.ProjectDao">
    <!-- 通过主键编号获得map对象 -->
    <select id="getByProjectId" parameterType="int" resultType="map" >
        select *
        from project_info
        where project_id = #{project_id}
    </select>

    <insert id="addProject" parameterType="map" keyProperty="project_id" useGeneratedKeys="true">
        insert into
        project_info(
                     project_id, project_name, project_manager, section_id
        ) values (
                  #{project_id}, #{project_name}, #{project_manager}, #{section_id}
                         )
    </insert>

    <delete id="deleteByProjectId" parameterType="int" >
        delete from project_info
        where project_id = #{project_id}
    </delete>

    <update id="editProject" parameterType="map" useGeneratedKeys="true" keyProperty="project_id">
        update project_info set
        <if test="project_name != '' and project_name != null">
            project_name = #{project_name},
        </if>
        <if test="project_manager != '' and project_manager != null">
            project_manager = #{project_manager},
        </if>
        <if test="section_id != null and section_id != ''">
            section_id = #{section_id},
        </if>
        project_id = #{project_id}
        where project_id = #{project_id}
    </update>

</mapper>